h1 {
    color: rgb(88, 148, 238);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(10, 3, 3);
    text-align: justify;
    font-size: 16px;
    
}